html, body{
  height: 100%;
}


.btn {
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: none;
    border-radius: 0.6em;
    color: #3c94e7;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin-left: 490px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }

  .btn:hover, .btn:focus {
    color: #fff;
    outline: 0;
  }
  
.first {
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  }
  .first:hover {
    box-shadow: 0 0 10px 40px #4561da inset;
  }
  

@media screen and (min-width: 600px) {
  #bg {
    background-image: url('https://images.dog.ceo/breeds/poodle-standard/n02113799_2466.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
  }

} 

@media screen and (min-width: 600px) {
  .btn {
    margin-left: -100px;
    left: 50%;
    top: 50%;
    margin-top: -50px;
    position: fixed;
  }
}

@media screen and (max-width: 600px) {
  .btn {
    margin-left: -100px;
    left: 50%;
    top: 50%;
    margin-top: -50px;
    position: fixed;
  }
}